<nav class="max-w-screen flex justify-between p-2.5 text-white bg-blue-500 align-middle">
    <div class="font-bold">Blog</div>
    <!-- <div class="hidden lg:block">
        <ul class="flex space-x-4">
            <li>Home</li>
            <li>About</li>
        </ul>
    </div> -->

    <div class="flex space-x-4 items-center">
        <div class="profile h-9 w-9 rounded-full bg-white hidden lg:block">
            <img class="rounded-full" src="https://mir-s3-cdn-cf.behance.net/project_modules/source/49c16a38805735.57701dcdd452c.gif" >
        </div>    
        <div class="lg:hidden">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    
</nav>