<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="flex flex-col h-screen">
        <div th:insert="~{components/header}" class="h-10vh"></div>
        <div th:insert="~{welcome}" class="flex-grow flex items-center justify-center"></div>
        <div th:insert="~{components/footer}" class="h-20vh ml-2 items-center p-2.5"></div>
    </div>
</body>
</html>