
<div class="container p-2 flex w-full  mx-auto">
    <div id="left" class="w-1/2 rounded-lg ">
        <div class="p-5">
            <h1 class="text-2xl font-bold sm:text-xl" id="welcome">Welcome to Blog</h1>
            <p class="" id="app">This is a simple blog application</p>
        </div>
    </div>
    <div id="right" class="w-1/2 rounded-lg ">
        <div class="p-5">
            <!-- <h1 class="text-2xl font-bold sm:text-xl">Post your Ideas </h1> -->
            <h1 class="text-xl font-bold"> Login to continue ..</h1>
            <form action="/login" method="post">
                <div class="flex flex-col space-y-2">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="border rounded-lg p-1 outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
                </div>
                <div class="flex flex-col space-y-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="border rounded-lg p-1 outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
                </div>

                <div class="flex flex-col mt-4">
                    <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>